#signup-page-left{
    width: 68%;
    float: left;
}
#signup-background{
    background-repeat: no-repeat;
    height: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 63%;
}

#pickup-line{
    padding: 0px;
    transform: translate(5%,50%);
}
.header{
    font-size: 110px;
    margin: 0px;
    font-style: italic;
    text-align: left;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin-top: -30px;
}
#tagline{
    text-align: left;
    margin: 0px;
    letter-spacing: 5px;
}
#miles-text{
    color: #FFAC19;
}
#money-text{
    color: #9319FF;
}
#signup-page-right{
    justify-content: center;
    text-align: center;
    width: 30%;
    left: 5%;
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    height: 80vh;
}
#signup{
    background-image: url('../../images/welcomeLogo.jpg');
    background-size: cover;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    
}

#companySignup{
    background-image: url('../../images/companyRegistrationBackground.jpg');
    background-size: cover;
    width: 100%;
    position: absolute; 
    height: 100%;
    z-index: -1;
    height: 100vh;
}

#companyAddress{
    float: left;
    width: 45%;
}
#CompanyBasicDetails{
    float: left;
    width: 45%;
}

#company-signup-page-right{
    justify-content: center;
    width: 70%;
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    height: 80vh;
    left: 15%;
}

#signupForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
}
#line{
    width: 10%;
    border: 1.2px solid white;
    border-radius: 5px;
    margin-top: 0px;
}
#alternative{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
}
#alternative h3{
    margin: 13px 0px;
}
#alternative a{
    text-decoration: none;
    color: white;
}
#log-text{
    border-bottom: 2px solid white;
    cursor: pointer;
}
#signupForm input[type="text"],input[type="password"],select{
    width: 60%;
    border: none;
    padding: 0px 25px;
    height: 7vh;
    border-radius: 10px;
    margin-bottom: 17px;
    outline: none;
}

.signupForm-elements{
    position: relative;
}
#signupForm label{
    color: #635f5f;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 17px;
    left: 140px;
    font-size: 15px;
    transition: .5s;
    pointer-events: none;
}
#signupForm input:focus ~ label,
#signupForm input:valid ~ label
{
    left: 120px;
    top: 5px;
    font-size: 10px;
}

#signupForm button{
    border: none;
    font-family:'Open Sans', sans-serif ;
    background-color: #16697A;
    color: white;
    width: 150px;
    height: 5vh;
    border-radius: 50px;
    margin-top: 20px;
    outline: none;
    
}

#password-eye{
    position: absolute;
    top: 18px;
    right: 110px;
    font-size: 25px;
    color: #D1D1D1;
    cursor: pointer;
}
#login-page{
    background-color: #7553A2;
    float: left;
    width: 32%;
    height: 100vh;
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30.7em;
}
#login-page button{
    border: none;
    font-family:'Open Sans', sans-serif ;
    background-color: #FFAC19;
    color: white;
    width: 27%;
    height: 5vh;
    border-radius: 50px;
    margin-top: 20px;
}
#login-heading{
    color: #16697A;
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif ;
}
#passwordMatch{
    color: red;
    display: none;
}
#formatMatch{
    color: red;
    display: none;
}