#CompanyProfile{
    width: 90%;
}
#ExecutiveProfile{
    width: 90%;
}
#CompanyDp{
    float: left;
    width: 10%;
}
#CompanyDp img{
    border-radius: 50%;
}

#CompanyQuickDetails{
    transform: translate(0px,110%);
    color: #687070;
}
#EmployeeQuickDetails{
    transform: translate(0px,180%);
    
}
.CompanyDetails{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 1.5%;
    border-bottom: 1px solid rgb(151, 139, 139);
}
.CompanyDetails li{
    padding-right: 30px;
}

.CompanyDetails span{
    padding-left: 5px;
}

.CompanyDetails a{
    text-decoration: none;
    color: black;
}


#CompanyDetails{
    width: 100%;
    transform: translate(0px,35%);
}

#ExecutiveDetails{
    width: 100%;
    transform: translate(0px,40%);
}

#CompanyProfileNavigationDiv{
    width: 100%;
    background-color: #ecf1f0;
    margin-top: 17%;
}

#CompanyProfileNavigation{
    list-style: none;
    display: flex;
    padding: 0px;
}

#CompanyProfileNavigation li{
    padding-left: 40px;
    
}

.profileNavigationLink{
    text-decoration: none;
}

#CompanyCoverPicture{
    width: 90%;
    background-image: url('../../images/ExecutiveProfileCoverPicture.jpg');
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom; 
    position: absolute;
    border-radius: 10px;
    z-index: -1; 
}
#ExecutiveCoverPicture{
    width: 90%;
    height: 30vh;
    background-image:url('../../images/ExecutiveProfileCoverPicture.jpg');
    background-size: cover;
    position: absolute;
    background-position: top;
    z-index: -1;
    border-radius: 10px;
}

#CompanyCoverPicture img{
    width: 100%;
    height: 15vh;
}
.projectsDetails ul{
    list-style: none;
    color: #16697A;
}
.physicalAddress{
    display: flex;
    
}
.physicalAddress p{
    padding-right: 10px;
}

